header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 5px;
	flex-wrap: wrap;
	background-color: #041322;
	.header h1{
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	.header h1 a {
		font-family:  Prompt;
		font-size: 1.5em;
		img{
			width: 35px;
		}
		@media screen and (max-width: 768px) {
			font-size: 0.7em;
			img{
				width: 30px;
			}
		}
	}

	.DesktopNav {
		display: flex;
		justify-content: space-evenly;
		a {
			margin: 5px 20px;
		}
	}
	button {
		background: #3b7a57;
		// border-radius: ;
		padding: 5px 20px;
	}
	button:hover{
		background: green;
	}
	.user {
		background-color: green;
		padding: 5px 10px;
		cursor: pointer;
		z-index: 10;
		.options {
			width: 100%;
			position: absolute;
			margin-left: -10px;
			background: green;
			border-radius: 10px;
			a {
                display: flex;
				padding: 5px ;
			}
			a:hover {
				background-color: aqua;
			}
		}
	}
	.MobileNav {
		background-color: white;
		width: 100vw;
		height: 100vh;
		position: fixed;
		z-index: 10000;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		display: none;
		a {
            width: 100%;
			padding: 10px 20px;
			color: black;
            text-align: center;
		}
        a:hover{
            background: blue;
        }
        svg{
            fill: black;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;

        }
	}
}
