#homePageContainer {
	min-height: 100vh;
	.landingPageImage {
		min-height: 90vh;

		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 10px;
		@media screen and (max-width: 768px) {
			display: flex;
		}
	}
}
