@import './imports.scss';

.display_none{
    display: none !important;
}
.display_flex{
    display: flex !important;
}
.coral_color{
    color: coral;
}
.darkblue_color{
    color: #130f40;
}
.gray_color{
    color: gray;
}
.blue_color{
    color: blue;
}
.red_color{
    color: red;
}
.green_color{
    color: green;
}
.black_color{
    color: black;
}
.text_center{
    text-align: center;
}

.align_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

